.forecast_img{
  display: block;
  width: 50%;
  margin: 0px auto;
  padding-top: 15%;
}
.menu_btn{
  position: absolute;
  top: 20px;
  right: 0px;
  width: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.top_block {
  position: relative;
  height: 35vh;
}
.menu_btn_img{
  max-width: 100%;
}
