.main_app{
  width: 480px;
  margin: 0 auto;

  height: 100vh;
  padding: 0 40px;

}
.black{
  position: absolute;
  background: chartreuse;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


@media screen and (max-width: 639px){
  .main_app{
    width: 100%;
    padding: 0 20px;
  }
}
@media screen and (max-width: 360px){
  .main_app{
    min-height: 100vh;
  }
}